@import "../../global.scss";

#intro {
  height: calc(100vh - 3.5rem);
  background-color: rgba(245, 233, 226, 0.28);

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 0 $gridPadding;

  color: $mainColor;
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;

  #left {
    #name {
      font-size: 2.56rem;
      font-weight: 500;
    }
  }

  #right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    overflow: hidden;
    img {
      clip-path: circle(40% at 50% 50%);
      max-height: 500px;
    }
  }

  @keyframes arrowBlinking {
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  .ityped-cursor {
    animation: cursorBlinking 0.75s infinite;
  }
  @keyframes cursorBlinking {
    100% {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 900px) {
  #intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    font-size: 1rem;

    #left {
      #name {
        font-size: 1.6rem;
      }
    }
    #right {
      img {
        clip-path: unset;
        // max-height: 500px;
      }
    }
  }
}
