@import "../../global.scss";

#page {
  height: calc(100vh - 3.5rem);
  background-color: rgba(245, 233, 226, 0.28);
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro {
  width: $sectionwidth;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  // padding: 0 $gridPadding;

  color: $mainColor;
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;

  #left {
    #name {
      font-size: 2.56rem;
      font-weight: 500;
    }

    #contacts {
      display: flex;
      gap: 1rem;
      //grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-icon {
      margin: 15px 0 0 0;
      img {
        width: 40px;
      }
      a {
        font-family: myriad-pro, sans-serif;
        font-weight: 700;
        font-style: normal;
      }
    }
  }

  #right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    overflow: hidden;
    img {
      max-height: 475px;
    }
  }

  @keyframes arrowBlinking {
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  .ityped-cursor {
    animation: cursorBlinking 0.75s infinite;
  }
  @keyframes cursorBlinking {
    100% {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 900px) {
  #intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    font-size: 1rem;

    #left {
      #name {
        font-size: 1.6rem;
      }
    }
    #right {
      img {
        clip-path: unset;
        // max-height: 500px;
      }
    }
  }
}

// For Extra Wide Screens
@media only screen and (min-width: 1600px) {
  #intro {
    width: $largeSectionWidth;
  }
}
